body {
  color: white;
  margin: 0;
}

.full-page-container {
  align-items: center;
  background-color: #444;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 90%;
}

footer {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  font: 1.3em Ubuntu, sans-serif;
  justify-content: space-between;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .weather {
  font-size: 2.5em;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font: 2em Ubuntu, Helvetica, sans-serif;
}

.midsection {
  display: flex;
  align-content: flex-start;
  align-items: center;
  width: 100%;
}

#search-input {
  background: none;
  border: none;
  border-bottom: 2px solid #FFF;
  color: #FFF;
  font-size: 2em;
  padding: 0.2em 1em;
}

.search-icon {
  display: block;
  height: 1.4em;
  width: 1.4em;
  position: relative;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-transform: rotate(45deg); 
     -moz-transform: rotate(45deg); 
       -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-icon:after {
  border-radius: 0 0 30% 30%;
  content: "";
  width: 20%;
  height: 75%;
  background: #fff;
  position: absolute;
  top: 99%;
  left: 40%;
}