body {
    font: 1.5em Ubuntu, sans-serif;
}

.form-group {
    margin: 10px 0;
}

#cityChoice {
    border: none;
    border-bottom: 2px solid #AAA;
    font: 1em Ubuntu, sans-serif;
    padding: 0 10px;
}

button {
    background-color: #FFF;
    border: 1px solid #666;
    color: #666;
    font-size: 1em;
    padding: 10px 20px;
}

button:hover {
    background-color: #999;
    color: #FFF;
}

button:focus {
    outline: none;
}

#flash-container {
    color: #FFF;
    font-size: 0.7em;
    text-align: center;
}

.flash.error {
    background-color: #8C0019;
    padding: 20px;
}

.flash.success {
    background-color: #4F682C;
    padding: 20px;
}